@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId) // indicates the specific item we want to edit

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.Category)
    @Html.DropDownList("CategoryId") // DropDownList takes the category information passed down from Viewbag and dispays it for the user

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>